// Component Item
.item {
  background: $background-item;
  .right {
    .image-audio {
      border-radius: 8px 0px 0px 8px;
    }
  }
  .left {
    .button-stream {
      width: 144px;
      height: 28px;
      border: 1px solid #101828;
      border-radius: 100px;
    }
  }
}

// Component Tabs
.tab-nav {
  background-color: $background-tabs;
  .tab {
    color: $color-font-grey;
    border-bottom: 3px solid transparent;
  }
  .tab.active {
    color: $color-font-black;
    font-weight: 700;
    background-color: white;
    border-radius: 14px;
    width: 113px;
    height: 32px;
    margin: 2px 2px 0px 2px;
  }
}
.tab-content {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  &.show {
    opacity: 1;
  }
}

// Component Rating
.rating {
  margin-top: -8px;
  .star {
    font-size: 21px;
    color: #ddd;
  }
}

.star.filled {
  color: #ffd700;
}
