@font-face {
    font-family: 'Hiragino-Sans';
    src: url('../font/HiraginoSansGB-W6-Alphabetic.woff2') format('woff2'),
        url('../font/HiraginoSansGB-W6-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}