// color font
$color-font-black: #34231f;
$color-font-black-contain: #101828;
$color-font-grey: #99908d;
$color-font-grey-contain: #667085;

// layout
$width: 375px;
$background-item: #f2f4f7;
$background-tabs: #ebe9e9;
